@font-face {
  font-family: 'IM';
  src: url('../fonts/I_am.ttf') format('truetype');
}

#myname {font-size: 100pt; color:gold; font-family: 'IM'; margin-top: 0px;}
#html {background-color: darkgray;}
